<app-nav></app-nav>
<h1 class="title">{{recipe.title}}</h1>
<div class="details-card">

    <div style="width: 50%;">
        <img class="details-card-img-recipe" [src]="recipe.thumbnail" alt="recipe.title">
        <div class="details-card-cooking">
            <img class="details-card-cooking-icon" src="https://img.icons8.com/color/48/000000/time-machine--v1.png"/>
          
            <p class="details-card-cooking-time"> cooking Time : {{recipe.cookingTime}}</p>
            
            <button style="margin-left: 320px; width:100px"  class="btn btn-success" routerLink="/edit/{{recipe.id}}" >Edit </button>
         </div>
    </div>
    <div class="details-card-info">
       <h1 class="details-card-info-title">Ingredients  :</h1>
       <p class="details-card-ingredient"*ngFor="let ing of recipe.ingredients"> {{ing}}</p> 
       <h1 class="details-card-info-title">How To make it  :</h1>
       <p class="details-card-make-description"> {{recipe.make}}</p> 
    </div>

</div>

